
* {
    margin: 0;
    padding: 0;
}

.header-container {
    height: 10vh;
    display: flex; 
    justify-content: space-between;
    padding: 0 5%;
    align-items: center;
    box-shadow: 0 0.1px 11px 2px rgba(68,89,88,.11);
}

.header-container .logo img {
    height: 10vh;
}


.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: 'Comic Sans MS', cursive; 
  }
  
  .logout {
    height: 100%;
    text-decoration: none;
    color: inherit;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: 'Comic Sans MS', cursive; 
  }
  .logout p {
    margin: 0;
  }

  .logout img {
    height: 30px;
    width: 30px;
  }

.cont {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
    gap: 20px;
    margin-bottom: 10px;
}
.category {
    margin: 10px;
}
.category .cat {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category .cat5 {
    margin: auto;
    width: 50vw;
}

.category .cat a {
    text-decoration: none;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden; /* Ensure the ::before overlay doesn't overflow */
}

.category a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha channel as needed */
    z-index: 1; /* Ensure the overlay is behind the text */
}

.category a h1 {
    color: #fff;
    font-size: 3rem;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; /* Ensure the text is above the overlay */
} 


.login {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-content: center;
}
.login div {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.login h2 {
    color: #333;
}

.login form {
    width: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.login button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.login button:hover {
    background-color: #0056b3;
}

.login p {
    color: red;
}

